<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>About Us card || Learning robo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/aboutUs.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/dbed6b6114.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <a href="/">
      <i class="fa-solid fa-arrow-circle-left" id="backAboutUs"></i></a>
    <section>
      <div class="image">
        <img src="../aboutUsShoe-removebg-preview.png" />
      </div>

      <div class="content">
        <h2>About Us</h2>
        <span><!-- line here --></span>
        <p>Best shoes E-commerce WebStore ever exist! since 2022</p>
        <ul class="links">
          <p>Crew Members</p>
          <li><a href="#">Lakshya(121) </a></li>
          <div class="vertical-line"></div>
          <li><a href="#">Aditya(131)</a></li>
          <div class="vertical-line"></div>
          <li><a href="#">Harsh(136) </a></li>
        </ul>
      </div>
    </section>
  </body>
</html>