@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}
h6 {
  color: #d8d8d8;
}
.navbar {
  font-size: 1rem;
  top: 0;
}
.nav-link {
  margin: 0 20px;
}
.navbar i {
  font-size: 1.2rem;
  padding: 0 7px;
  margin-top: 10px;
}
.navbar i:hover,
.navbar.active {
  color: coral;
  cursor: pointer;
  transform: 0.3s ease;
}
span {
  color: coral;
}
li a {
  color: #1d1d1d;
}
#home {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: bottom 60px center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.slider-img img {
  width: 100%;
  background-size: auto;
  background-position: top 600px center;
  z-index: -999;
  position: absolute;
  top: 0;
  left: 0px;
}

button {
  font-size: 0.8rem;
  font-weight: 700;
  outline: none;
  border: none;
  background-color: #1d1d1d;
  color: aliceblue;
  padding: 13px 30px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}
button:hover {
  background-color: #3a3833;
}
.bar {
  outline: none;
  border: none;
  cursor: pointer;
}
.navbar button {
  border: none;
  outline: none;
}
.navbar button:hover {
  background-color: transparent;
}

.category-main-container {
  width: 33%;
  position: relative;
  margin-right: -60px;
}
.category-main-container img,
.main-Featured-Product img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all.3s ease;
  background-color: #1d1d1d21;
  opacity: 0;
  display: flex;
  flex-direction: column;
}
.overlay:hover {
  opacity: 1;
}
.main-category {
  width: 100%;
  justify-content: space-around;
  overflow: hidden;
}
.category-heading {
  width: 100%;
  text-align: center;
  padding: 50px;
  margin: 15px 0;
}

.featured-product {
  width: 32%;
  margin-bottom: 70px;
  position: relative;
  margin: 30px 5px;
}

.main-Featured-Product {
  width: 100%;
  margin: auto;
  max-width: 75vw;
}
.overlay-icons i {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 50%;
  margin: 0 5px;
}
.overlay-icons i:hover {
  color: coral;
  background-color: #1d1d1d;
}
.newsletter {
  color: white;
  height: 30vh;
  background-color: #1d1d1d;
  width: 98.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  overflow: hidden;
  justify-content: space-evenly;
}
input {
  padding: 7px;
  width: 20vw;
  border-radius: 4px;
}

.socialmedia-main {
  width: 100vw;
}
.socialmedia-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialmedia-icons i {
  padding: 0 5px;
  color: #1d1d1d;
}
.socialmedia-icons i:hover {
  color: coral;
}
.footer-section {
  background-color: #1d1d1d;
}

.cartItemsContainer {
  height: 80vh;
  width: 40vw;
  background-color: #1d1d1d;
  position: absolute;
  right: 0vw;
  top: 10vh;
  overflow: auto;
}
.displayCartWindow {
  display: none;
}
.cartWindowHeading {
  text-align: center;
  margin: 20px 0;
  color: white;
}
.cartItemImg {
  width: 5vw;
  border-radius: 5px;
}
.cartItemInput {
  width: 50px;
  outline: none;
  left: 0;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}
.grandTotal {
  color: white;
  text-align: right;
  font-weight: 400;
  font-size: medium;
  margin: 20px;
}
.itemDescription {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.addItemToCartBtn {
  border-radius: 15%;
  padding: 10px;
}
.cartItemCount {
  position: absolute;
  right: 0px;
  bottom: 0px;
  font-size: small;
  font-weight: 600;
  background-color: coral;
  color: #1d1d1d;
  padding: 0 5px;
  border-radius: 5px;
}
.nav-item {
  position: relative;
  justify-content: center;
}
#mainLogo {
  width: 110px;
}
.danger {
  margin-left: 50px;
}
#placeOrderBtn {
  display: flex;
  background-color: coral;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 20px;
  position: absolute;
  top: 25px;
  left: 10px;
  align-items: center;
  font-size: small;
}
#placeOrderBtn:hover {
  background-color: rgba(255, 127, 80, 0);
  outline: 1px solid coral;
}
.btn-success {
  position: absolute;
  bottom: 0;
}
.user-name {
  margin: 5px;
}
.logout-btn:hover {
  color: red !important;
}
.company-logoes {
  max-width: 10vw;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
}
.brand-container {
  width: 100vw;
}
.brand-container-inner-div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Media Queries */
@media (max-width: 1000px) {
  #mainLogo {
    margin: auto;
  }
  .cart-icon {
    position: absolute;
  }
  .cartItemCount {
    font-size: 10px;
  }
  .user-name {
    padding-left: 50px;
  }
  .logout-btn {
    font-size: 0.5rem;
    margin-left: 20px;
  }
  .swiper-wrapper {
    height: 80vh;
    margin-bottom: -10vh;
  }
  .swiper-desc {
    position: absolute;
    top: 25vw;
  }
  i {
    font-size: 10px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 0.7rem;
  }
  h4 {
    font-size: 0.5rem;
  }
  h5 {
    font-size: 0.7rem;
  }
  .swiper-desc p {
    font-size: 0.6rem;
  }
  .brand-container img {
    height: auto;
    object-fit: cover;
  }
  .brand-container-inner-div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
  }
  .category-heading {
    padding: 5vh;
  }
  .main-Featured-Product {
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
